.menu {
    background-color: rgb(182, 233, 229);
    padding: 20px;

}
.blog {
    width: 100%;
    background-color: rgb(208, 245, 245);
    overflow: scroll;
}
.container
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100vh
}
body{
    margin: 0;
}
.avatar
{
    width: 200px;
    height: 200px;
    border-radius: 100px; /* Радиус скругления */
    border: 3px solid rgb(233, 183, 200); /* Параметры рамки */
}
.mark {
    display: flex;
    flex-direction: column;
}

.menu_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.menu_links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: 100px;
    
}

ul{
    padding-inline-start: 0;
}

.menu_footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

li{
    list-style-type: none;
    padding: 10px;
}
.name{
    font-family: "Snell Roundhand" , cursive;
    font-size: 20px;
}

.img-responsive{
    width: 200px;
    height: 250px;
    margin-left: 15%;
}

.narration{
    font-family: "Snell Roundhand" , cursive;
    font-size: 15px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
}

.heading_narration{
    font-size: 30px;
    margin-left: 5%;
}

.row{
    display: flex;
}

.first_recording{
    justify-content: center;
    width: 33%;
}

.second_recording{
    justify-content: center;
    width: 33%;
}

.third_recording{
    justify-content: center;
    width: 33%;
}

.signature{
    margin-left: 15%;
}